body {
	height: 100%;
	margin: 0 auto;
	color: #ffffff;
}
.alnleft { text-align: left; }

th {
    height: 40px;
    text-align: center;
}

td {
	text-align: center;
}
td.bold {
    font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow:auto;
}

.description {
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	font-size: 1.2em;
}

table {
	table-layout: fixed;
	width: 75%;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top:20%;
	padding-bottom: 20%;
	font-size: 14px;
	color: black;
}
.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}
/*superior*/
.superior {
    position: absolute;
    left: 25%;
    top: 13%;
}

/*inferior*/
.inferior {
    position: absolute;
    left: 26%;
    top: 80%;
}


